# Site
name: "내 집 인테리어"
title: "내 집 인테리어"
description: "인테리어 상품들을 추천하는 블로그입니다"
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: /
url: "https://rlaqhdghks23.github.io/"
google_analytics: 'G-62T9C9W3P5'
disqus: 'demowebsite'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  KimBongHwan:
    name: KimBongHwan
    display_name: KimBongHwan
    gravatar: e56154546cf4be74e393c62d1ae9f9d4
    email: rlaqhdghks23@gmail.com
    web: https://www.wowthemes.net
    twitter: 
    description: "좋은 상품, 좋은 선물만 찾아서, 포스트하는"

# Plugins
plugins:
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 5
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
